* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0 auto;
  text-align: center;
}

header {
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem;
  color: beige;
  background-color: saddlebrown;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 1rem;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
